{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}
{% block metadesk %}<meta name="description" content="{{
                                                      article.summary|striptags
                                                      }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ article.author }}">
<meta name="twitter:creator" content="{{ article.author }}">
<meta name="twitter:title" content="{{ article.title|striptags }}">
<meta name="twitter:description" content="{{ article.summary|striptags }}">
<meta name="twitter:image" content="TWITTER_CARD_IMAGE_PLACEHOLDER">
{% if article.next_article_in_category %}
<link rel="next" href="{{ SITEURL }}/{{ article.next_article_in_category.url }}">
{% endif %}
{% endblock %}
{% block author %}<meta name="author" content="{{ article.author  }}">{%endblock%}
{% block content %}
<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

</h5>

{{ article.content }}

<h5>{{ article.locale_date }}
{% if FLATTR_ID is defined %}
&nbsp;:&nbsp;
<script id='{{ FLATTR_SCRIPT_ID }}'>
(function(i){
  var f,s=document.getElementById(i);
  f=document.createElement('iframe');
  f.src='//button.flattr.com/view/?fid={{ FLATTR_ID }}&button=compact&url='+encodeURIComponent(document.URL);
  f.title='Flattr';
  f.height=20;
  f.width=110;
  f.style.borderWidth=0;
  f.style.verticalAlign='middle';
  s.parentNode.insertBefore(f,s);
})('{{ FLATTR_SCRIPT_ID }}');
</script>
{% endif %}
{% if ADDTHIS_ID is defined %}
&nbsp;:&nbsp;
<div id="addthis-inline" class="addthis_inline_share_toolbox"></div>
{% endif %}
{% if DONATE_BUTTON_TARGET is defined %}
&nbsp;:&nbsp;
<div class="pagination-row">
  <a href="{{ DONATE_BUTTON_TARGET }}">
    <img src="{{ SITEURL }}/theme/img/donate-btn.gif" />
  </a> 
</div>
{% endif %}
{% if article.update %} &nbsp; <i class="icon-spin4"></i> {{ article.update }} {% endif %}
{% if DISQUS_SITENAME %}{% include '_includes/disqus.html' %}{% endif %}
{% include '_includes/pagination.html' %}
{% if PW_BOTTOM_ADBOX_CODE is defined %}
<div id='bottom-adbox'>
{{ PW_BOTTOM_ADBOX_CODE }}
</div>
{% endif %}
{% if COMICROCKET_PROMO_BANNER %}
<div id='bottom-adbox' data-comic-rocket-box="728x90"></div>
{% endif %}
{% endblock %}
