<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8">
  {% block metadesk %}<meta name="description" content="{{ METADATA }}">{% endblock %}
  {% block author %}<meta name="author" content="{{ AUTHOR }}">{% endblock %}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta http-equiv="Cache-Control" content="max-age=604800, must-revalidate" />
  <link href="{{ SITEURL }}/theme/css/screen.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ SITEURL}}/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" type="image/x-icon">
  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% if COMICROCKET_ANALYTICS_KEY is defined %}
<script>
(function(d,t,p){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='http'+(d.location.protocol=='https:'?'s':'')+'://www.comic-rocket.com/metrics.js#'+(p||"");s.parentNode.insertBefore(g,s);
})(document,'script','key={{ COMICROCKET_ANALYTICS_KEY }}');
</script>
{% endif %}
</head>
<body>
<div id="outer-wrapper">
{% include '_includes/header.html' %}
    <div id="main">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% include '_includes/footer.html' %}
{% if GOOGLE_ANALYTICS %}{% include 'analytics.html' %}{% endif %}
</body>
{% if ADDTHIS_ID is defined %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADDTHIS_ID }}"></script>
{% endif %}
{% if PW_BOTTOM_ADBOX_CODE is defined %}
<!-- Project Wonderful Ad Box Loader -->
<script type="text/javascript">
   (function(){function pw_load(){
      if(arguments.callee.z)return;else arguments.callee.z=true;
      var d=document;var s=d.createElement('script');
      var x=d.getElementsByTagName('script')[0];
      s.type='text/javascript';s.async=true;
      s.src='//www.projectwonderful.com/pwa.js';
      x.parentNode.insertBefore(s,x);}
   if (window.attachEvent){
    window.attachEvent('DOMContentLoaded',pw_load);
    window.attachEvent('onload',pw_load);}
   else{
    window.addEventListener('DOMContentLoaded',pw_load,false);
    window.addEventListener('load',pw_load,false);}})();
</script>
<!-- End Project Wonderful Ad Box Loader -->
{% endif %}
</html>
