div.figure {
  margin: auto;
  text-align: center;
  width: 90%;
}

img.figure-image {
  margin: auto;
  width: 100%;
}

a.original-link {
  font-family: 'Unifont Upper';
  font-size: 200%;
}

div.pagination-row {
  display: inline-block;
  vertical-align: middle;
}

div#addthis-inline {
  display: inline-block;
  vertical-align: middle;
}

div.donation-button-container * {
  margin: 1% auto !important;
  width: inherit !important;
  text-align: center;
}

div#bottom-adbox {
  margin: 0 auto;
  max-width: 100%;
}

div#bottom-adbox * {
  max-width: 95% !important;
  width: inherit !important;
  height: inherit !important;
}
