/* without cyrillic fonts
  @import url(http://fonts.googleapis.com/css?family=Oranienbaum); */

@import "_theme";

@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local('Oranienbaum'),
       local('Oranienbaum-Regular'),
       url("../fonts/Oranienbaum.ttf") format('truetype');
}

@font-face {
  font-family: 'Unifont Upper';
  src: url("../fonts/unifont_upper-9.0.06.ttf") format('truetype');
}

$sans: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
$serif: Georgia, "Bitstream Charter", "Century Schoolbook L", "Liberation Serif", Times,serif;
$mono: Inconsolata, Consolas, monospace;
$heading-font-family: "Oranienbaum", Helvetica, Arial, sans-serif;
