@charset "UTF-8";
/*
  Style sheet for www.unix-lab.org.
  Copyright (C) 2013-2014 Irina Shefer <liberty195@gmail.com>
  All rights reserved.
*/
/* without cyrillic fonts
  @import url(http://fonts.googleapis.com/css?family=Oranienbaum); */
@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local("Oranienbaum"), local("Oranienbaum-Regular"), url("../fonts/Oranienbaum.ttf") format("truetype"); }

@font-face {
  font-family: 'Unifont Upper';
  src: url("../fonts/unifont_upper-9.0.06.ttf") format("truetype"); }

/*
for use logo.png:
replace line
<div class="logo"><a href="{{ SITEURL }}">{{ SITENAME }}</a></div>
on
<a href="{{ SITEURL }}"><div class="logo"></div></a>
in templates/_include/header.html
*/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  color: #424141;
  background-color: #F5F5F5; }

#outer-wrapper {
  position: relative;
  width: 100%;
  font: normal 17px/1.524 Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  /* base font */
  line-height: 140%;
  min-height: 100%;
  background-image: url("../img/noise.jpg"); }

* html #outer-wrapper {
  height: 100%; }

#header-wrapper {
  color: #FFFFFF;
  min-height: 8.375em;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  background: url("../img/header-bg.jpg");
  /*  .logo {
    background: $logo no-repeat;
    margin: 0 auto;
    width: 305px;
    max-width: 100%;
    height: 52px;
  }*/ }
  #header-wrapper .small {
    font-size: 80%; }
  #header-wrapper .logo a {
    font: bold 230% "Oranienbaum", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 3%; }
  #header-wrapper .social {
    font-size: 60%;
    padding: 1em 0 0; }
  #header-wrapper .nav {
    margin: 0 auto;
    max-width: 100%;
    font-family: "Oranienbaum", Helvetica, Arial, sans-serif; }
    #header-wrapper .nav ul {
      text-align: center;
      list-style-type: none; }
    #header-wrapper .nav li {
      padding: 1em 1em 1em 0;
      display: inline-block; }
    #header-wrapper .nav a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 140%;
      text-transform: uppercase; }
      #header-wrapper .nav a:hover {
        text-decoration: line-through; }

#main {
  width: 90%;
  /*max-width: 960px;*/
  margin: 0 auto;
  /* centering text */
  padding-bottom: 6.250em; }

#footer-wrapper {
  position: relative;
  height: 5.000em;
  margin-top: -5.000em;
  text-align: center;
  border-top: 1px solid #CCCCCC;
  text-transform: uppercase;
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif; }
  #footer-wrapper a {
    text-decoration: none;
    color: #707070; }
    #footer-wrapper a:hover {
      color: #688fad; }
  #footer-wrapper ul, #footer-wrapper ol, #footer-wrapper li, #footer-wrapper p {
    color: #707070; }
  #footer-wrapper p, #footer-wrapper ul {
    font-size: 80%;
    overflow: auto;
    padding-top: 1em; }
  #footer-wrapper li {
    display: inline;
    padding: 0;
    margin: 0 auto; }

.footer {
  width: 55%;
  max-width: 960px;
  padding: 0.313em 0;
  margin: auto;
  /* centering text */ }

.footer img {
  vertical-align: middle; }

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?25604047");
  src: url("../fonts/fontello.eot?25604047#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?25604047") format("woff"), url("../fonts/fontello.ttf?25604047") format("truetype"), url("../fonts/fontello.svg?25604047#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?25604047#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-rss:before {
  content: '\e808'; }

/* '' */
.icon-gmail:before {
  content: '\e802'; }

/* '' */
.icon-feather:before {
  content: '\e803'; }

/* '' */
.icon-cw:before {
  content: '\e805'; }

/* '' */
.icon-cc:before {
  content: '\e806'; }

/* '' */
.icon-spin4:before {
  content: '\e800'; }

/* '' */
.icon-user:before {
  content: '\e801'; }

/* '' */
.icon-bookmarks:before {
  content: '\e804'; }

/* '' */
.icon-search-1:before {
  content: '\e807'; }

/* '' */
.border-radius, #main blockquote, #main pre {
  border-radius: 5px; }

.round-radius, #main img, #main .video {
  border-radius: 10px; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #4b4b4b;
  font-family: "Oranienbaum", Helvetica, Arial, sans-serif;
  margin: 1em 0;
  line-height: 140%; }

#main h1, #main h2 {
  background: url("../img/dotted-border.png") bottom left repeat-x; }

#main h2 a {
  display: inline-block;
  text-decoration: none;
  color: #4b4b4b; }
  #main h2 a:visited {
    color: #4b4b4b; }

#main h2:first-child {
  margin: 1em 0; }

#main p {
  margin-bottom: 1em; }

#main img {
  display: block;
  margin: 1em auto;
  padding: .3em;
  border: 1px none;
  max-width: 100%; }

#main a[href$=".png"], #main a[href$=".gif"], #main a[href$=".jpg"], #main a[href$=".jpeg"] {
  cursor: pointer;
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in; }

#main ul {
  margin: 1em 0px; }

#main ol, #main li {
  margin-left: 1em; }

#main img[alt="many"] {
  display: inline;
  margin: 1em 0; }

#main img[alt="none"] {
  border: none; }

#main img[alt="left"] {
  float: left;
  margin: .5em 1em .25em 0; }

#main img[alt="right"] {
  float: right;
  margin: .5em 1em .25em 0; }

#main .archive-date {
  text-align: left;
  float: right;
  background: url("../img/dotted-border.png") bottom left repeat-x;
  color: #8eb6cb; }

#main .align-left {
  display: block;
  text-align: left; }

#main .align-center {
  display: block;
  text-align: center; }

#main .align-right {
  display: block;
  text-align: right; }

#main blockquote {
  margin-bottom: 0.5em;
  padding: .5em;
  border: 1px dashed #CCCCCC;
  font-style: italic; }

#main a {
  color: #8eb6cb;
  text-decoration: none; }
  #main a:hover {
    color: #688fad;
    text-decoration: underline; }
  #main a:visited {
    color: #7e7e96; }

#main table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 2% 0;
  border: #c9c9c9; }
  #main table th {
    background: #F5F5F5; }

#main th, #main td {
  text-align: left;
  padding: 0.313em 0.625em;
  border: 1px solid #CCCCCC; }

#main dt {
  color: #444;
  font-weight: 700; }

#main dd {
  margin-left: 1em; }

#main .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

#main .video iframe,
#main .video object,
#main .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 1em; }

#main code {
  font-size: 1.0rem;
  display: inline-block;
  background-color: transparent;
  color: #657b83; }

#main pre {
  line-height: 1.5;
  font-size: 0.95rem;
  margin-bottom: 1em;
  padding: 0.313em;
  overflow: auto;
  background-color: #FBFBFB;
  border: 1px solid #c9c9c9; }

.pagination {
  text-align: center;
  margin: 1em 0; }

input[type="text"], textarea {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  background-color: #FFFFFF;
  border: 1px solid #c9c9c9;
  border-radius: 4px; }
  input[type="text"]:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  color: #333333;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text; }
  input[type="submit"]:hover {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    background-color: #F5F5F5; }

pre {
  background-color: #FBFBFB !important;
  color: #5c5a5a !important; }

.hll {
  background-color: #ffffcc; }

.c {
  color: #93a1a1;
  font-style: italic; }

/* Comment */
/* .err { color: #dc322f }Error */
.g {
  color: #657b83; }

/* Generic */
.k {
  color: #859900; }

/* Keyword */
.l {
  color: #657b83; }

/* Literal */
.n {
  color: #586e75; }

/* Name */
.o {
  color: #657b83; }

/* Operator */
.x {
  color: #657b83; }

/* Other */
.p {
  color: #657b83; }

/* Punctuation */
.cm {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Preproc */
.c1 {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #93a1a1;
  font-style: italic; }

/* Comment.Special */
.gd {
  color: #657b83; }

/* Generic.Deleted */
.ge {
  color: #657b83; }

/* Generic.Emph */
.gr {
  color: #657b83; }

/* Generic.Error */
.gh {
  color: #657b83; }

/* Generic.Heading */
.gi {
  color: #657b83; }

/* Generic.Inserted */
.go {
  color: #657b83; }

/* Generic.Output */
.gp {
  color: #C65D09; }

/* Generic.Prompt */
.gs {
  color: #657b83; }

/* Generic.Strong */
.gu {
  color: #657b83; }

/* Generic.Subheading */
.gt {
  color: #657b83; }

/* Generic.Traceback */
.kc {
  color: #859900; }

/* Keyword.Constant */
.kd {
  color: #859900; }

/* Keyword.Declaration */
.kn {
  color: #cb4b16; }

/* Keyword.Namespace */
.kp {
  color: #cb4b16; }

/* Keyword.Pseudo */
.kr {
  color: #859900; }

/* Keyword.Reserved */
.kt {
  color: #859900; }

/* Keyword.Type */
.ld {
  color: #657b83; }

/* Literal.Date */
.m {
  color: #2aa198; }

/* Literal.Number */
.s {
  color: #2aa198; }

/* Literal.String */
.na {
  color: #657b83; }

/* Name.Attribute */
.nb {
  color: #268bd2; }

/* Name.Builtin */
.nc {
  color: #268bd2; }

/* Name.Class */
.no {
  color: #b58900; }

/* Name.Constant */
.nd {
  color: #cb4b16; }

/* Name.Decorator */
.ni {
  color: #cb4b16; }

/* Name.Entity */
.ne {
  color: #cb4b16; }

/* Name.Exception */
.nf {
  color: #268bd2; }

/* Name.Function */
.nl {
  color: #657b83; }

/* Name.Label */
.nn {
  color: #b58900; }

/* Name.Namespace */
.nx {
  color: #657b83; }

/* Name.Other */
.py {
  color: #268bd2; }

/* Name.Property */
.nt {
  color: #859900; }

/* Name.Tag */
.nv {
  color: #cd4b16; }

/* Name.Variable */
.ow {
  color: #859900; }

/* Operator.Word */
.w {
  color: #fdf6e3; }

/* Text.Whitespace */
.mf {
  color: #2aa198; }

/* Literal.Number.Float */
.mh {
  color: #2aa198; }

/* Literal.Number.Hex */
.mi {
  color: #2aa198; }

/* Literal.Number.Integer */
.mo {
  color: #2aa198; }

/* Literal.Number.Oct */
.sb {
  color: #2aa198; }

/* Literal.String.Backtick */
.sc {
  color: #2aa198; }

/* Literal.String.Char */
.sd {
  color: #2aa198; }

/* Literal.String.Doc */
.s2 {
  color: #2aa198; }

/* Literal.String.Double */
.se {
  color: #cb4b16; }

/* Literal.String.Escape */
.sh {
  color: #2aa198; }

/* Literal.String.Heredoc */
.si {
  color: #cb4b16; }

/* Literal.String.Interpol */
.sx {
  color: #2aa198; }

/* Literal.String.Other */
.sr {
  color: #2aa198; }

/* Literal.String.Regex */
.s1 {
  color: #2aa198; }

/* Literal.String.Single */
.ss {
  color: #2aa198; }

/* Literal.String.Symbol */
.bp {
  color: #268bd2;
  font-weight: bold; }

/* Name.Builtin.Pseudo */
.vc {
  color: #268bd2; }

/* Name.Variable.Class */
.vg {
  color: #268bd2; }

/* Name.Variable.Global */
.vi {
  color: #268bd2; }

/* Name.Variable.Instance */
.il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
#cse-search-box {
  max-width: 50% !important;
  margin: 0 auto !important; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  body {
    font: 12pt Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif; }
  #header-wrapper, #footer-wrapper {
    display: none; }
  #main {
    width: 100%; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

@media screen and (max-width: 768px) {
  .nav, .footer, #footer-wrapper {
    margin: 0;
    width: 100%; }
  .nav ul {
    font-size: 100%; }
  #main {
    width: 90%; }
  #outer-wrapper {
    font-size: 16px;
    line-height: 130%; }
  .archive-date {
    display: none; }
  pre {
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto; } }

div.figure {
  margin: auto;
  text-align: center;
  width: 90%; }

img.figure-image {
  margin: auto;
  width: 100%; }

a.original-link {
  font-family: 'Unifont Upper';
  font-size: 200%; }

div.pagination-row {
  display: inline-block;
  vertical-align: middle; }

div#addthis-inline {
  display: inline-block;
  vertical-align: middle; }

div.donation-button-container * {
  margin: 1% auto !important;
  width: inherit !important;
  text-align: center; }

div#bottom-adbox {
  margin: 0 auto;
  max-width: 100%; }

div#bottom-adbox * {
  max-width: 95% !important;
  width: inherit !important;
  height: inherit !important; }
