<div id="footer-wrapper">
<ul class="footer">
    <li class="footer"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>&nbsp;2016-2017&nbsp;::</li>
    <li class="footer">powered by <a href="https://github.com/getpelican">pelican</a></li>
    {% if STATUSCAKE_ID is defined %}<li class="footer">&nbsp;::&nbsp;<a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://app.statuscake.com/button/index.php?Track={{ STATUSCAKE_ID }}&Days=30&Design=7" /></a></li>{% endif %}
</ul>
</div>
