<div id="header-wrapper">
  <div class="logo"><a href="{{ SITEURL }}">{{ SITENAME }}</a></div>
  <div class="small">
  {%- if THEME_CATCHPHRASES is defined %}
<script type="text/javascript">
  var catchphrases = {{ THEME_CATCHPHRASES }};
  var catchphrase = catchphrases[
    Math.floor(Math.random()*catchphrases.length)
  ];
  document.write(catchphrase);
</script>
  {%- elif SITESUBTITLE is defined -%}
  {{ SITESUBTITLE }}
  {%- endif -%}
  </div>
    <div class="nav">
      {% include '_includes/pages.html' %}
    </div>
    {% if SOCIAL %}
    <div class="nav social">
      {% include '_includes/social.html' %}
    </div>
    {% endif %}
</div>
