<div class="pagination">
    {% if article.prev_article_in_category %}
        <a href="{{ SITEURL }}/{{ article.prev_article_in_category.slug }}.html">&larr;{{ article.prev_article_in_category.title }}</a>&nbsp;|
    {% endif %}
    {{ article.title }}
    {% if article.next_article_in_category %}
        |&nbsp;<a href="{{ SITEURL }}/{{ page_name }}{{ article.next_article_in_category.slug }}.html">{{ article.next_article_in_category.title }}&rarr;</a>
    {% endif %}
</div>
